name: Release

on:
  push:
    tags:
      - "0.*"
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Install Zig
        uses: mlugg/setup-zig@v2
        with:
          version: "0.13.0"

      - name: Install GoReleaser
        uses: goreleaser/goreleaser-action@v5
        with:
          version: '~> v2'
          install-only: true

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v5
        with:
          distribution: goreleaser
          version: '~> v2'
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

